.ystop{background:transparent url("http://ys-M.cccpan.com/581225823/joTynjn4M1J754K4UPF3/top.jpg") no-repeat scroll center center;height:200px;}
.ystop P{margin-top:180px !important;text-align:center;}#zdy_wz0{display:none !important;}
#kjbt{z-index:100;font-size:25px;display:block;text-align:center;margin-top:60px;}
#Temp_layer{display:none;}#Temp_Message{display:none;}
.script_title{display:none;}
